<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqfe10ACqpCAqn07t234NAnByVBx8K-TA</string>
	<key>GCM_SENDER_ID</key>
	<string>19603541521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khubzati.app.dev</string>
	<key>PROJECT_ID</key>
	<string>khubzati-dev-131af</string>
	<key>STORAGE_BUCKET</key>
	<string>khubzati-dev-131af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19603541521:ios:3f45003d5d37777126abb0</string>
	<key>CLIENT_ID</key>
	<string>19603541521-PLACEHOLDER.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19603541521-PLACEHOLDER</string>
</dict>
</plist>

